 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <p>Proficient in Python, with some experience in Java, Matlab and R.</p>
    </div>
    <div class="tech">
      <h2>MachineLearning Tools</h2>
      <i class="devicon-mysql-plain"></i>
      <i class="devicon-numpy-original-wordmark"></i>
      <i class="devicon-amazonwebservices-original"></i>
      <p>Apart from TF and Keras, my journey is coupled with Apache Spark, SQL, Numpy, Pandas, NLTK, Matplotlib etc.</p>
    </div>
    <div class="tech">
      <h2>Developer Tools</h2>
      <i class="devicon-gitlab-plain-wordmark"></i>
      <i class="devicon-git-plain-wordmark"></i>
      <p>The essence to mulitple projects all over the world.</p>
    </div>
</div>
