 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <p>Proficient in Python, with experience in Java, Matlab, C++ and R.</p>
    </div>
    <div class="tech">
      <h2>Machine Learning Tools</h2>
      <i class="devicon-mysql-plain"></i>
      <i class="devicon-numpy-original-wordmark"></i>
      <i class="devicon-amazonwebservices-original"></i>
      <p>Apart from TF and Keras, my journey is coupled with PySpark, SQL, Numpy, Pandas, NLTK, Matplotlib etc.</p>
    </div>
    <div class="tech">
      <h2>Dev Tools</h2>
      <i class="devicon-git-plain-wordmark"></i>
      <p>The essence to mulitple projects all over the world.</p>
    </div>
</div>
