<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Throughput_model" src="{{ "/assets/img/qsr.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Throughput model </h3>
    <ul>
      <li> Featured Skills</li> - Python, Ternsorflow, Keras, Computer Vision (Object Detection API)
    </ul>
    <p>The aim is to increase the throughput of digital drive-thru by tracking average serve time and in turn, recommending products with lesser preparation time. This can further be used to capture number plates of traffic offenders.</p>
    <a class="project-link" href="https://github.com/anish52/vehicle-detection-and-tracking">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Dialogue_system" src="{{ "/assets/img/chatbot.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Dialogue System </h3>
    <ul>
      <li> Featured Skills</li> - Python, Ternsorflow, Keras, Natural Language Processing (Seq2Seq models, LSTM, GRU)
    </ul>
    <p>This research is intended to build dialogue systems which are not just rule-based domain or task specific, with an eye to model an empathetic chatbot which could converse with a human being.</p>
    <a class="project-link" href="https://github.com/anish52/chatbot">Check it out</a>
  </div>
</div>
